{% extends 'online_exam/exam_base.html' %}
{% load static %}
{% block extrahead %}
{% endblock extrahead %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Wing: {{ wing|title }}</h1>
            <h6 class="text-center">Select the correct answer</h6>
        </div>
    </div>
        <div class="row">
            <div class="col-md-8 offset-md-2" style="background-color: #f2f2f2">
                <form action="" method="post">
                {% csrf_token %}
                {% for k, v in question.items %}
                    <p>{{ k.question }}</p>
                    <ul class="list-unstyled ml-5">
                        {% for key, value in v.items %}
                            <li><input type="radio" name="{{ k.id }}" value="{{ value }}" id="id_{{ key }}"><label
                                    for="id_{{ key }}" class="ml-5">{{ value }}</label></li>
                        {% endfor %}
                    </ul>

                {% endfor %}
                    <input type="submit" value="submit" class="btn btn-secondary">
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
{% block jquery %}
{% endblock jquery %}